html
	head
		link(rel="stylesheet" type="text/css" href="./css/styles.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		
		title URL Shortener Microservice
	body
		#content
			h1 API Basejump: URL Shortener Microservice
			blockquote
				p User stories:
				ul
					li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
					li When I visit that shortened URL, it will redirect me to my original link
			h3 Example creation usage
			code= "https://" + hostname + "/new/https://www.google.com"
			br
			code= "https://" + hostname + "/new/http://foo.com:80"

			h3 Example creation output:
			code= '{ "original_url":"https://www.google.com", "short_url":"https://' + hostname + '/1234" }'

			h3 Usage:
			code= "https://" + hostname + "/1234"

			h3 Will redirect to:
			code https://www.google.com/


